<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Form</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    @model Survey
    <div id="main">
        <form asp-action="Create" asp-controller="Home" method="POST">
            <div class="content">
                <span asp-validation-for="name"></span>
                <div class="section">
                    <p><label asp-for="name"></label></p>
                    <p><input asp-for="name"></p>
                </div>
                <span asp-validation-for="dojo"></span>
                <div class="section">
                    <p><label asp-for="dojo"></label></p>
                    <p>
                        <select asp-for="dojo">
                            <option value="Chicago">Chicago</option>
                            <option value="San Jose">San Jose</option>
                        </select>
                    </p>
                </div>
                <span asp-validation-for="language"></span>
                <div class="section">
                    <p><label asp-for="language"></label></p>
                    <p>
                        <select name="language">
                            <option value="C#">C#</option>
                            <option value="Python">Python</option>
                            <option value="JS">JS</option>
                        </select>
                    </p>
                </div>
            </div>
            <div class="section">
                <div>
                    <p><label asp-for="comment"></label></p>
                </div>
            </div>
            <div class="section">
                <div>
                    <textarea asp-for="comment" cols="30" rows="5"></textarea>
                </div>
            </div>
            <input value="Add User" type="submit">
            @* <button type="submit">Submit</button> *@
        </form>
    </div>
</body>

</html>